
.text-box{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 0.9;
}
.form-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-image: url('/assets/img/forest-logo.jpg'); /* Note the leading slash */
  background-size: cover; /* Optional: Adjusts the background image size */
  background-position: center; /* Optional: Adjusts the background image position */
  flex-direction: column;
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    
}


.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn:hover{
    background-color: #006400;
    color: aliceblue;
}

.panel{
    border-radius: 12px;
    width: 400px;
    padding: 2rem;
    border: 5px solid #424242;
}

.input-field.error{
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='number']
{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;

}
img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.toast-lower-center {
  top: 70%; /* Adjust the percentage to your desired position */
  left: 50%;
  transform: translate(-50%, -50%);
}
