<div class="form-conatiner">
  <div class="text-box">
    <span class="text-[3rem] text-center font-bold p-2" style="color: aliceblue;">Welcome to my password
      generator!</span>
    <span class="text-[1rem] text-center font-bold p-2" style="color: aliceblue; line-height: 1.9;">Below, you can
      generate your own
      secure password.<br> But be careful, the generated password will be valid for just 60 seconds.</span>
  </div>

  <div class="panel border bg-white">
    <div class="panel-heading">
      <span class="text-2xl text-center font-bold">Password Generator</span>
    </div>
    <div
      style="display: flex; justify-content: center; align-items: center; align-content: center; flex-direction: column;">
      <form [formGroup]="passwordForm" (ngSubmit)="generatePassword()" style="width: -webkit-fill-available;">

        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
          <input matInput formControlName="length" [placeholder]="'Password Length'" type="number" min="1"
            [spellcheck]="false" />
          <mat-error *ngIf="passwordForm.get('length')?.errors?.['required']">Password length is required.</mat-error>
          <mat-error *ngIf="passwordForm.get('length')?.errors?.['min']">Password length must be greater than 8.
          </mat-error>
          <mat-error *ngIf="passwordForm.get('length')?.errors?.['max']">Password length must be lass than 15.
          </mat-error>
        </mat-form-field>

        <div *ngIf="generatedPassword !== null">
          <ng-container *ngIf="countdown > 0">
            Time {{ countdown | i18nPlural: countdownMapping }}
          </ng-container>
        </div>
        <div style="display: flex; justify-content: center;">
          <button mat-raised-button type="submit" [disabled]="generatedPassword !== null"
            class="btn btn-primary mb1 bg-green btn-block mt-4 w-100">
            Generate Password
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
